.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #fcfcfc;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px 5px 20px 50px;
}
.cart-container {
  margin-top: 20px;
}
